<body style="background: powderblue; font-size:30px"><center>
<h1 style = "font-size:100px;">You haven't been born yet?</h1>
<form action="/">
  <input type="submit" value="Go Back">
</form>
</center></body>
